// download links
.figure .link {
  display: block;
  font-size: 13px;
  font-weight: 500;
}

.figure .btn-xs {
  display: block;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
