.figure-wrapper {
  margin: 0 -6px;
}

.figure {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  margin: 6px 3px;
  padding: 15px;
}

.figure-logo-lockup,
.figure-logo-icon {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  margin: 6px 3px;
  padding: 15px;

  &:first-child .img {
    background-color: $purple;
  }

  .img {
    background-color: $white;
    border-radius: 3px;
    padding: 45px;
  }
}

.figcaption {
  color: $gray-light;
  font-style: italic;
  margin-top: 15px;
}