.figure-bears-wrapper,
.figure-mark-wrapper,
.figure-lockup-wrapper {
  margin: 0 -6px;
}

.figure-bears,
.figure-mark,
.figure-lockup {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  margin: 6px 3px;
  padding: 15px;
}

.figure-mark,
.figure-lockup {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  margin: 6px 3px;
  padding: 15px;

  &:first-child .img {
    background-color: $purple;
  }
  
  .img {
    background-color: $white;
    padding: 45px;
    border-radius: 3px;
  }
}

.figcaption {
  color: $gray-light;
  font-style: italic;
  margin-top: 15px;
}