.section-icons {

  .figure {
    width: 160px;
  }

  .figcaption {
    font-size: 13px;
  }

  .icon-outline {
    cursor: pointer;

    .iconnables {
      transition: none;
    }

    &:hover,
    &:active {

      .iconnables {
        color: $purple-light;
      }
    }
  }
}