.logs-runnable-dark,
.logs-runnable-light {
  float: left;
  padding: 30px 0;
  width: 300px;

  + .pre {
    margin-left: 15px;
  }
}

.pre {
  border: 0;

  // animate only on hover
  &:hover .code-blink {
    animation: logs-blink 1s infinite;
  }

  &.logs-runnable-dark {
    background: $ace-bg;
    color: $white;
  }

  &.logs-runnable-light {
    background-color: $gray-lighterest;
    color: $gray-darker;
  }

  // disabling blinking for performance
  .code-blink {
    animation: none;
  }
}