.logs-runnable-dark,
.logs-runnable-light {
  float: left;
  padding: 30px 0;
  width: 300px;

  @include media(md) {
    float: none;
  }

  + .pre {
    margin-left: 15px;

    @include media(md) {
      margin-left: 0;
    }
  }
}

.pre {

  // animate only on hover
  &:hover .code-blink {
    animation: logs-blink 1s infinite;
  }

  &.logs-runnable-dark {
    background: $ace-bg;
    border: $black;
    color: $white;
  }

  &.logs-runnable-light {
    background-color: $gray-lighterest;
    color: $gray-darker;
  }

  // disabling blinking for performance
  .code-blink {
    animation: none;
  }
}