// list 39 colors
$color-array: black white gray-lighterest gray-lightest gray-lighter gray-light gray gray-dark gray-darker green green-light green-lighter green-dark green-darker green-darkest purple purple-logo purple-light purple-lighter purple-lightest purple-dark purple-darker purple-darkest orange orange-light orange-lighter orange-lightest orange-dark orange-darker orange-darkest red red-light red-lighter red-dark blue blue-light blue-lighter blue-dark;
$color-array-values: $black $white $gray-lighterest $gray-lightest $gray-lighter $gray-light $gray $gray-dark $gray-darker $green $green-light $green-lighter $green-dark $green-darker $green-darkest $purple $purple-logo $purple-light $purple-lighter $purple-lightest $purple-dark $purple-darker $purple-darkest $orange $orange-light $orange-lighter $orange-lightest $orange-dark $orange-darker $orange-darkest $red $red-light $red-lighter $red-dark $blue $blue-light $blue-lighter $blue-dark;

@mixin colors() {
  // 39 colors in total
  @for $i from 1 to 39 {
    // background
    .color-#{nth($color-array,$i)} {
      background: nth($color-array-values,$i);
    }
  }
}

@include colors();

.figure-color-wrapper {

  .figure {
    border: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 6px;

    .figcaption {
      font-size: 13px;
      margin: 0;
      padding: 0 $sm;
    }
  }
}

.figure-color {
  align-content: center;
  height: 80px;
  justify-content: center;
  width: 150px;
}
