.section-spinner {

  .spinners-demo {
    display: flex;
    margin-left: 30px;
  }

  .spinner-wrapper {
    align-items: center;
    background: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius;
    cursor: pointer;
    display: flex;
    float: left;
    height: 90px;
    margin: 6px;
    width: 90px;

    &:hover .spinner {
      animation-play-state: running;
    }

    .spinner {
      animation-play-state: paused;
    }
  }

  .spinner-white {
    background: $gray;
    border-color: $gray-dark;
  }
}
